@model Pokemon
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>Insert Pokemon Data</h2>



<form asp-controller="Home" asp-action="Result" method="post" enctype="application/x-www-form-urlencoded" id="player1">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="control-label">Name</label>
        <input asp-for="Name" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Level" class="control-label">Level</label>
        <input asp-for="Level" type="number" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Nature" class="control-label">Nature</label>
        <select asp-for="Nature" class="form-control">
            <option value="">-- Select Nature --</option>
            <option value="Adamant">Adamant</option>
            <option value="Bashful">Bashful</option>
            <option value="Bold">Bold</option>
            <option value="Brave">Brave</option>
            <option value="Calm">Calm</option>
            <option value="Careful">Careful</option>
            <option value="Docile">Docile</option>
            <option value="Gentle">Gentle</option>
            <option value="Hardy">Hardy</option>
            <option value="Hasty">Hasty</option>
            <option value="Impish">Impish</option>
            <option value="Jolly">Jolly</option>
            <option value="Lax">Lax</option>
            <option value="Lonely">Lonely</option>
            <option value="Mild">Mild</option>
            <option value="Modest">Modest</option>
            <option value="Naive">Naive</option>
            <option value="Naughty">Naughty</option>
            <option value="Quiet">Quiet</option>
            <option value="Quirky">Quirky</option>
            <option value="Rash">Rash</option>
            <option value="Relaxed">Relaxed</option>
            <option value="Sassy">Sassy</option>
            <option value="Serious">Serious</option>
            <option value="Timid">Timid</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
